# 01 ... Container Apps 環境を作成する
LOCATION="japaneast"
RESOURCE_GROUP="jobs-quickstart"
ENVIRONMENT="env-jobs-quickstart"
JOB_NAME="my-job"

# 03 ... ストレージ キューを設定する
STORAGE_ACCOUNT_NAME="stgajobsquickstart20241007"
QUEUE_NAME="myqueue"


# 05 ... ジョブを構築してデプロイする
CONTAINER_IMAGE_NAME="queue-reader-job:1.0"
CONTAINER_REGISTRY_NAME="acrjobsquickstart20241007"
